body {
    background-color: rgb(249, 116, 7) !important;

}

#main-container{
    display: flex;
    flex-direction: column;
    align-items: center;

} 


img{
max-height: 500px ;
min-height: 500px ;
max-width: 800px;
min-width: 500px;
object-position: center;
}

.dark {
    background-color: black !important;
    color: white !important;
}

